<!doctype html>
<html>
<head>
	<title>IndexedDB Performance Test cases</title>
	<link href="../demoer/bootstrap-combined.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body data-feedly-processed="yes">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">IndexedDB Performance</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active">
							<a href="../">Home</a>
						</li>
						<li>
							<a href="//nparashuram.com">About Me</a>
						</li>
						<li>
							<a href="//nparashuram.com/contact.html">Contact</a>
						</li>
						<li class="dropdown">
							<a href="" class="dropdown-toggle" data-toggle="dropdown">
								Quick Links <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="//nparashuram.com/IndexedDBShim">IndexedDB Polyfill</a>
								</li>
								<li>
									<a href="http://www.w3.org/TR/IndexedDB/">IndexedDB Specification</a>
								</li>
								<li>
									<a href="http://blog.nparashuram.com/search/label/indexeddb">Blog posts on IndexedDB</a>
								</li>
								<li class="divider"></li>
								<li class="nav-header">IndexedDB Libraries</li>
								<li>
									<a href="//nparashuram.com/jquery-indexeddb">Jquery IndexedDB</a>
								</li>
								<li>
									<a href="//pouchdb.com">PouchDB</a>
								</li>
								<li>
									<a href="//github.com/superfeedr/indexeddb-backbonejs-adapter">Backbone-IndexedDB</a>
								</li>
								<li>
									<a href="//nparashuram.com/Linq2IndexedDB">LINQ IndexedDB</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				<ul class="nav nav-tabs nav-list nav-stacked" id = "perfTestLinks">
					<script type = "text/html">
							<% _.each(perf, function(name, key) { %> 
								<li data-name = "<%= key %>">
									<a href="#<%=key%>" data-name = "<%=key%>"> <i class="icon-chevron-right pull-right"></i>
										<%= key %></a>
								</li>
							<% }); %></script>
				</ul>
			</div>
			<div class="span9">
				<div id = "testContent">
					<div class = "hero">
						<h1>IndexedDB</h1>
						<h3>Performance Test Scenarios</h3>
					</div>
				</div>
				<script type = "text/html">
					<h3>
						<%= name %></h3>
					<p>
						<%= desc %></p>
					<div class="accordion" id="accordion2">
						<div class="accordion-group">
							<div class="accordion-heading">
								<h4>
									<a class="accordion-toggle " data-toggle="collapse" href="#preTest"> <i class = "icon-cog"></i>   Pre Test
									</a>
								</h4>
							</div>
							<div id="preTest" class="accordion-body collapse">
								<div class="accordion-inner">
									<h5>
										onStart - run once for the entire page
										<a class = "runPreTest btn btn-mini" data-name= "onStart" data-suite = "<%= name%>" >Run</a>
									</h5>
									<pre>
										<%= onStart %></pre>
								</div>
								<div class="accordion-inner">
									<h5>setup - run once before every test. 
										<a class = "runPreTest btn btn-mini" data-name= "setup" data-suite = "<%= name%>" >Run</a>
									</h5>
									<pre>
										<%= setup %></pre>
								</div>
								<div class="accordion-inner">
									<h5>teardown - run once after every test. 
										<a class = "runPreTest btn btn-mini" data-name= "teardown" data-suite = "<%= name%>" >Run</a>
									</h5>
									<pre>
										<%= teardown %></pre>
								</div>
							</div>
						</div>
						<div class="accordion-group">
						<div class="accordion-heading">
							<h4 class = "img-rounded">
								<a class="accordion-toggle" data-toggle="collapse" href="#testCases">
									<i class = "icon-th"></i>  Test Cases
								</a>
							</h4>
						</div>
						<div id="testCases" class="accordion-body collapse in">
							<% _.each(tests, function(obj, key){ %>
								<div class="accordion-inner" data-name="<%=key%>">
									<div>
										<h5>
											<%= key %>
											<a class = "runTestCase btn btn-mini" data-name = "<%= key %>" data-suite = "<%= name%>" >Run</a>
											<a class = "rank badge hide" data-name = "<%= key %>">
											</a>
										</h5>
									</div>
									<pre><%= obj%></pre>
								</div>
							<%})%></div>
					</div>
					<div class="progress hide">
					  <div class=" bar bar-info start" style="width: 0%;"></div>
					  <div class=" bar bar-info pretest" style="width: 0%;"></div>
					  <% _.each(tests, function(obj, name){ %>
					  	<div class=" bar bar-danger tests" style="" data-name="<%= name %>"></div>
					  <%});%> 
					  <div class=" bar bar-warning done" style="width: 0%;"></div>
					</div>
					<div class = "controls clearfix">
						<a class = "abortTests btn btn-danger  pull-right hide" data-name ="<%=name%>">Abort Tests</a>
						<a class = "runTests   btn btn-primary pull-right" data-name ="<%=name%>">Run Tests</a>
					</div>
				</script>
				<div class = "resultsContent hide clearfix">
					<script type = "text/html">
						<div class = "accordion">
							<div class = "accordion-group">
								<div class = "accordion-heading">
									<h4>
										<a class="accordion-toggle " data-toggle="collapse" href="#results">
											<i class = "icon-cog"></i>   
											Results
										</a>
									</h4>
								</div>
								<div class = "accordion-body collapse" id = "results">
									<div class = "accordion-inner">
										<table class = "table table-hover">
											<tr>
												<th>&nbsp;</th>
												<th>Name</th>
												<th>Score</th>
												<th>Relative Margin of Error</th>
											</tr>
											<% _.each(bm, function(t, i){ %>
												<tr>
													<td><%= i + 1 %></td>
													<td><%= t.name %></td>
													<td><%= t.hz%></td>
													<td><%= t.stats.rme %></td>
												</tr>
											<%}); %>
										</table>
									</div>
								</div>
							</div>
						</div>
					</script>
				</div>
			</div>
		</div>

		<hr>

		<footer>
			<p></p>
		</footer>

	</div>
	<!--/.fluid-container-->

	<script src="../demoer/jquery.min.js"></script>
	<script src="../demoer/bootstrap.min.js"></script>
	<script src="../demoer/beautify.js"></script>
	<script src="lib/jquery.indexeddb.js" ></script>

	<script type="text/javascript" src = "lib/underscore.min.js"></script>
	<script type="text/javascript" src = "lib/Faker.js"></script>
	<script type="text/javascript" src = "lib/Benchmark.js"></script>

	<script type="text/javascript" src = "main.js"></script>

	<script type="text/javascript" src = "tests/1_KeyCompare.js"></script>
	<script type="text/javascript" src = "tests/2_TableSchema_Write.js"></script>
	<script type="text/javascript" src = "tests/3_TransactionRead.js"></script>
	<script type="text/javascript" src = "tests/4_TransactionWrite.js"></script>
	<script type="text/javascript" src = "tests/5_Cursor_ParallelWrite.js"></script>
	<script type="text/javascript" src = "tests/6_Cursor_ParallelRead.js"></script>
	<script type="text/javascript" src = "tests/8_IndexUnused.js"></script>
	<script type="text/javascript" src = "tests/9_CursorIndexCursor.js"></script>
	<script type="text/javascript" src = "tests/10_TransactionReadWriteIsolation.js"></script>
	<script type="text/javascript" src = "tests/11_IndexKeyObjectCursor.js"></script>
	<script type="text/javascript" src = "tests/12_CursorContinueAdvance.js"></script>
</body>
</html>